SERVER_PORT=3000
VITE_SECRET=

VITE_HOST_API=http://localhost:3000
VITE_GOOGLE_CLIENT_ID=
VITE_GOOGLE_SECRET=

JWT_SECRET=

DATABASE_PROVIDER=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASS=
DATABASE_NAME=

EMAIL_URL=
EMAIL_API_KEY=
